html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

html {
    font-size: 100.01%;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #000;
    font: 13px / 1.231 sans-serif
}

h1, h2, h3, h4, h5, p, fieldset {
    font-weight: normal
}

ul, li {
    list-style-type: none
}

*:focus {
    outline: 0 !important
}

a {
    text-decoration: underline
}

a img {
    border: 0
}

a span {
    cursor: pointer
}

table {
    border-collapse: collapse
}

td {
    vertical-align: top
}

a, input, textarea, select, option {
    outline: none !important;
    border: none;
}

fieldset {
    border: 0
}

input, select {
    vertical-align: middle
}

select, textarea {
    overflow-x: hidden;
    overflow-y: auto
}

textarea {
    resize: none
}

input[type="text"] {
    padding: 0
}

input[type="radio"] {
    vertical-align: text-bottom
}

select, input, textarea, button {
    margin: 0;
    padding: 0;
    font: 99% sans-serif
}

label, input[type="button"], input[type="submit"], input[type="reset"], button {
    cursor: pointer
}

input[hidden] {
    display: none
}

button {
    width: auto;
    overflow: visible
}

.ie7 img {
    -ms-interpolation-mode: bicubic
}

.ie7 sup {
    vertical-align: text-top
}

.ie7 sub {
    vertical-align: text-bottom
}

.ie7 p code {
    white-space: normal
}

.ie7 hr {
    margin: -8px auto 11px
}